<div id="<%= dom_id pickup %>">
  <p>
    <strong>User:</strong>
    <%= pickup.user.email %>
  </p>

  <p>
    <strong>Pickup date:</strong>
    <%= pickup.pickup_date %>
  </p>

  <p>
    <strong>Location name:</strong>
    <%= pickup.location_name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= pickup.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= pickup.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= pickup.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= pickup.country %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pickup.status %>
  </p>

</div>
